
              <div class="card3" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(artist.picture.path) %>');">
                <%= link_to artist.full_name, artist_path(artist), class: 'link-artist'  %>
              </div>



