<h1 class="home_title text-center"> Your Profile </h1>

<div class="container">
  <div class="row">
    <% @artists.each do |artist| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center">
        <%= "#{artist.first_name} #{artist.last_name}" %>
        <%= link_to artist.first_name, artist_path(artist) %>
          <% end %>
          <div class="card-body">

          </div>
        </div>
      </div>
  </div>
</div>
