
    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 100%), url('background.png') no-repeat center center" >



      <div class="banner-content">
        <h1>Book your trusted local tattoo artist</h1>
        <form action="/artists" class="form-inline" >
          <input type="text" name="location" class="form-control input-lg" placeholder="Enter your postcode">
          <input type="submit" class="btn btn-primary btn-lg" value="Find your tattoo artist">
          <!-- <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %> -->
        </form>
      </div>
    </div>

    <div class="container text-center padded features">
    <h1>As easy as...</h1>
      <div class="row">
        <div class="col-xs-9 col-sm-4 col-md-4">
          <img src="globe.png" alt="">
          <h2>1. Search for local tattoo artists </h2>
        </div>
        <div class="col-xs-9 col-sm-4 col-md-4">
          <img src="dollar.png" alt="">
          <h2>2. Browse independant tattoo artists</h2>
        </div>
        <div class="col-xs-9 col-sm-4 col-md-4">
          <img src="beer.png" alt="">
          <h2>3. Book your prefered tattoo artist</h2>
        </div>

      </div>
    </div>
    <div class="wrapper-grey padded">
      <div class="container">
        <h2 class="text-center">Featured Tattoo Artists</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('card-paris.jpeg');">
              <div class="card-category">Croydon</div>
              <div class="card-description">
                <h2>Paul</h2>
                <p>Special Designs</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('card-brussels.jpeg');">
              <div class="card-category">Leicester Square</div>
              <div class="card-description">
                <h2>Marco</h2>
                <p>10 years experience</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('card-london.jpeg');">
              <div class="card-category">Camden</div>
              <div class="card-description">
                <h2>Luke</h2>
                <p>Has tattooed David Beckham</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center padded" id="newsletter">
      <h2>Get news from us</h2>
      <p>Leave us your mail to hear more fromm us</p>
      <form class="form-inline">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary">
      </form>
    </div>
