<html>
  <head>
    <meta charset="utf-8">
    <title>Iwantink home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  <body>
    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 100%), url('background.png') no-repeat center center" >



      <div class="banner-content">

        <h1>Book your trusted local tattoo artist</h1>
        <form action="/artists" class="form-inline" >
          <input type="text" class="form-control input-lg" placeholder="Enter your postcode">
          <input type="submit" class="btn btn-primary btn-lg" value="Find your tattoo artist">
          <!-- <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %> -->
        </form>
      </div>
    </div>


    <div class="container text-center padded features">
    <h1>As easy as...</h1>
      <div class="row">
        <div class="col-xs-9 col-sm-4 col-md-4">
          <img src="globe.png" alt="">
          <h2>1. Search for local tattoo artists </h2>
        </div>
        <div class="col-xs-9 col-sm-4 col-md-4">
          <img src="dollar.png" alt="">
          <h2>2. Browse independant tattoo artists</h2>
        </div>
        <div class="col-xs-9 col-sm-4 col-md-4">
          <img src="beer.png" alt="">
          <h2>3. Book your prefered tattoo artist</h2>
        </div>

      </div>
    </div>
    <div class="wrapper-grey padded">
      <div class="container">
        <h2 class="text-center">Featured Tattoo Artists</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('card-paris.jpeg');">
              <div class="card-category">Croydon</div>
              <div class="card-description">
                <h2>Paul</h2>
                <p>Special Designs</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('card-brussels.jpeg');">
              <div class="card-category">Leicester Square</div>
              <div class="card-description">
                <h2>Marco</h2>
                <p>10 years experience</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('card-london.jpeg');">
              <div class="card-category">Camden</div>
              <div class="card-description">
                <h2>Luke</h2>
                <p>Has tattooed David Beckham</p>
              </div>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center padded" id="newsletter">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <form class="form-inline">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-primary">
      </form>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
           </div>
        </div>
      </div>
    </div>
    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
  </body>
</html>
