.card {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: blue;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 22px;
}
.card-description p {
  font-size: 15px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}




.card2 {
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: blue;
}
.card-gallery {
  height: 200px;
  padding-right: relative;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: blue;

}
.card3 {
   height: 100px;
   width: 100px;

  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: blue;

}

