@import "utilities";
@import "footer";
@import "navbar";
@import "card";
@import "banner";
@import "wrapper";

.scrolling {
  overflow: scroll;

    height: 500px;
}

.small-container {
    width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
}


